@model IEnumerable<ETicaret.Entity.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card">
                <div class="card-body">
                   
                   <a class="btn btn-success btn-block" href="@Url.Action("Create")">Yeni Kayıt</a>
                    <br />
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Kategori Adı</th>
                                    <th>Açıklama</th>
                                    <th></th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="@Url.Action("Edit",new { id=item.Id})"><i class="m-r-10 mdi mdi-update"></i>Düzenle</a>

                                            <a class="btn btn-danger btn-sm" href="@Url.Action("Delete",new { id=item.Id })"><i class="m-r-10 mdi mdi-delete"></i>Sil</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Kategori Adı</th>
                                    <th>Açıklama</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

